<h3 class="text-danger">
    @*Your account is locked, please try again after sometime or you may*@
    Ihr Konto ist gesperrt. Bitte versuchen Sie es nach einiger Zeit erneut
    <a asp-action="ForgotPassword" asp-controller="Account">
        @*EN*@
        @*reset your password by clicking here*@
        @*GE*@
        Setzen Sie Ihr Passwort zurück, indem Sie hier klicken
        @*HU*@
        @*állítsa vissza jelszavát ide kattintva*@
    </a>
</h3>