<h4>
    @*EN*@
    @*If you have an account with us, we have sent an email
    with the instructions to reset your password.*@
    @*GE*@
    Wenn Sie ein Konto bei uns haben, haben wir eine E-Mail gesendet
    mit den Anweisungen zum Zurücksetzen Ihres Passworts.
    @*HU*@
    @*Ha van fiókja nálunk, küldtünk egy e-mailt
    a jelszó visszaállításához szükséges utasításokkal.*@
</h4>