<h4>
    @*EN*@
    @*Your password is reset. Please click*@
    @*GE*@
    Ihr Passwort wird zurückgesetzt. bitte klicken
    @*HU*@
    @*Ihr Passwort wurde zurückgesetzt. Bitte klicken*@
    <a asp-action="Login">here to login</a>
</h4>