<h4>
    @*If you have an account with us, we have sent an email
    with the instructions to reset your password.*@
    Wenn Sie ein Konto bei uns haben, haben wir eine E-Mail gesendet
     mit den Anweisungen zum Zurücksetzen Ihres Passworts.
</h4>