
@{
    ViewBag.Title = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>

<a asp-action="Index" asp-controller="Home">
    @*EN*@
    @*Click here to the Home Page*@
    @*GE*@
    Klicken Sie hier zur Startseite
    @*HU*@
    @*Kattintson ide a kezdőlaphoz*@
</a>
