@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        @*EN*@
        @*Welcome to Car Dealership*@
        @*GE*@
        Willkommen im Autohaus
        @*HU*@
        @*Üdvözöljük az Autókereskedésben*@
    </h1>
      
</div>
