@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    @*EN*@
    @*Use this page to detail your site's privacy policy.*@
    @*GE*@
    Verwenden Sie diese Seite, um die Datenschutzrichtlinie Ihrer Website detailliert darzustellen.
    @*HU*@
    @*Ezen az oldalon részletezheti webhelye adatvédelmi szabályzatát.*@
</p>
