<div class="text-center">
    <h1 class="text-danger">
        @*EN*@
        @*Access Denied*@
        @*GE*@
        Zugriff abgelehnt
    </h1>
    <h6 class="text-danger">
        @*EN*@
        @*You do not have persmission to view this resource*@
        @*GE*@
        Sie sind nicht berechtigt, diese Ressource anzuzeigen
        @*HU*@
        @*Nincs jogosultsága ennek az erőforrásnak a megtekintéséhez*@
    </h6>
    <img src="~/images/noaccess.png" style="height:300px; width:300px" />
</div>
